.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

}
.col{
    padding: 0 12px;
}
.l-0{
    display: none;
}
.l-1{
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.l-2{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.l-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.l-4{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.l-5{
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.l-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.l-7{
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.l-8{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.l-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.l-10{
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.l-11{
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.l-12{
    flex: 0 0 100%;
    max-width:100%;
}
hr{
    margin: 16px 0;
}

/* mobile */
@media(max-width: 739px){
    .mt-8{
        margin-top: 8px;
    }
    .color-list{
        flex-direction: column;
    }
    .built-in .built-in-list{
        flex-direction: column;
    }
    .row{
        margin-left: -4px;
        margin-right: -4px;
    
    }
    .col{
        padding: 0 4px;
    }
    .s-0{
        display: none;
    }
    .s-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .s-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .s-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .s-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .s-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .s-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .s-7{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .s-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .s-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .s-10{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .s-11{
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .s-12{
        flex: 0 0 100%;
        max-width:100%;
    }
}
